*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.header{
    width: 100%;
    height: 100vh;
    padding: 10px 10%;
    background: #020412;
    color: #fff;
    padding: 0, 8.5%;
    position: relative;
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px, 0, 10px;
}
nav h1{
    font-size: 30px;    
    color: yellow;
    cursor: pointer;
}
nav ul li {
    display: inline-block;
    list-style: none;
  margin: 10px 20px ;
    
}

nav li:first-child  {
    margin-left: 250px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.menu-icon{
    width: 30px;
}

.content{
    margin-top: 200px;
}
.content-1 h1{
    font-size: 50px;
    font-weight: 600;
}
.content-1 p{
    margin-top: 30px;
    max-width: 450px;
    text-align: justify;
}
.btns{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 26vw;
}
.btns a{
    display: inline-block;
  text-decoration: none;
  color: yellow;
  background: black;
  border: 1px solid;
  margin: 0px 10px;
  padding: 5px 20px;
  border-radius: 6px;
  width: fit-content;
}
.btns :nth-child(2){
    background-color: yellow;
    color: black;
    font-weight: 600 ;
}

.user-img{
 width: 400px;
 position: absolute;
 right: 10%;
 bottom: 10%;
 left : 600px;
}
.user-img {
    border-radius: 20px;
}